; Data point
.counter 0x1100000

ciel:
    .tasks:
        ; struct tempest array[length]
        .array:   .counter [. 4 +] $ ..:
        .length:  .counter [. 2 +] $ ..:
        ; offset = sizeof(struct tempest)
        .offset:  .counter [. 2 +] $ ..:

        ; for (u16)current < (u16)total
        .current: .counter [. 4 +] $ ..:
        .total:   .counter [. 4 +] $ ..:

        ; void (*)(struct tempest *task)
        .run:     .counter [. 4 +] $ ..:
    ..:

    .real:
        ; u8 buffer[1024]
        .buffer: .counter [. 4 +] $ ..:
    ..:
..:

; Entry point
.counter 0x1100100
